html {
  -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
  padding-top: 50px;
  background: #001F3F;
  color: white;
}

#container {
  width: 100%
}

#seconds {
  display: none;
}

.starter-template {
  text-align: center;
}

#hexagon {
	display: none;
}

.well {
	display: none;
}

#timer {
	display: none;
}

#footer {
	color: white;
  text-align: right;
  width: 98%;
  position:absolute;
  bottom:1%;
}

#endgame {
	display: none;
}

.game {
	text-align: center;
}

#blue:active {
	stroke:white;
	stroke-width:2px;
}

#green:active {
	stroke:white;
	stroke-width:2px;
}

#red:active {
	stroke:white;
	stroke-width:2px;
}

#orange:active {
	stroke:white;
	stroke-width:2px;
}

#yellow:active {
	stroke:white;
	stroke-width:2px;
}

#purple:active {
	stroke:white;
	stroke-width:2px;
}

#buttonpressed {
	color: black;
}


#title {
	font-family: 'Raleway', sans-serif;
	font-size: 50pt;
}

.well {
	color: #001F3F;
	width: 400px;
	font-size: 15pt;
	margin: 10px;
}
