body {
  padding-top: 50px;
  background: #001F3F;
  color: white;
}
.starter-template {
  padding: 30px 15px;
  text-align: center;
}

#hexagon {
	display: none;
}

#colors {
	display: none;
}

#timer {
	display: none;
}

#footer {
	display: none;
	color: white;
	text-align: center;
	margin-top: 50px;
}

.game {
	text-align: center;
}